*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background: rgb(166, 239, 214);
    height: 80px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enlace{
    color: white;
    font-size: 25px;
    text-transform: uppercase;

}

.enlace span{
    color: #4343a4;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #4343a4;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


img{
    width: 400px;
}
.fondo{
    background-image: url(../img/Hyatt-House.webp);
    width: 98.7vw;
    height: 90vh;
    background-position: center;
    background-size: cover;
}

main{
    background-color: rgb(166, 239, 214);
}

.titulo_principal{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
    font-size: 32px;
    font-family: "Sense","Century Gothic",sans-serif;
    color: #0097DB;
    line-height: 1.3;
}

.historia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
.historia p{
    padding: 20px;
    width: 500px;
    height: 340px;
    line-height: 2;
    display: flex;
    align-items: center;
    background-color: #266782;
    font-family: "Open Sans","Arial",sans-serif;
    color: white;
    text-align: center;
}
.historia img{
    width: 500px;
    margin: 30px;
}

.segundaImagen{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
    
}

.segundaImagen div{
    padding: 20px;
    width: 500px;
    height: 340px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #266782;
    font-family: "Open Sans","Arial",sans-serif;
    color: white;
    text-align: center;
    width: 500px;
    margin-left: 60px;
    flex-wrap: wrap;
}

.segundaImagen img{
    width: 500px;
    margin: 30px;
    height: 340px;
}


footer{
    background-color: #2c3e50;
    color: white;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    margin: 30px;
}

.logo span{
    color: #4343a4;
}

.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:300px;
}

.enlaces{
    color: white;
    line-height: 2;
}
.direccion{
  
    width: 200px;
    width:300px;
}
.direccion iframe{
    width: 300px;
    height: 300px;
    margin: 30px;
}
.contactanos{
    margin: 30px;
    width: 300px;
    text-align: center;
    line-height: 2;
}
.contactanos h3{
    color: #4343a4;
    margin: 30px;
    text-transform: uppercase;
}

.fa-solid{
    color:#4343a4;
}
.titulo_recepcion{
    text-align: center;
    font-size: 32px;
    font-family: "Sense","Century Gothic",sans-serif;
    color: #0097DB;
    line-height: 1.3;
    display: flex;
    justify-content: center;
}
.recepcion{
    text-align: center;
    font-size: 32px;
    font-family: "Sense","Century Gothic",sans-serif;
    color: #0097DB;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}

.recepcion1{
    width: 300px;
    border: 2px solid red;
    height: 300px;

}

.recepcion2{
    width: 300px;
    border: 2px solid red;
    height: 300px;
    
}
.recepcion3{
    width: 300px;
    border: 2px solid red;
    height: 300px;
    
}

.titulo_restaurant{
    text-align: center;
    font-size: 32px;
    font-family: "Sense","Century Gothic",sans-serif;
    color: #0097DB;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    margin: 40px;
}


.restaurant{
    text-align: center;
    font-size: 32px;
    font-family: "Sense","Century Gothic",sans-serif;
    color: #0097DB;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 40px;
    
}

.restaurant1{
    width: 300px;
    border: 2px solid red;
    height: 300px;

}

.restaurant2{
    width: 300px;
    border: 2px solid red;
    height: 300px;
    
}
.restaurant3{
    width: 300px;
    border: 2px solid red;
    height: 300px;
    
}




/* habitaciones */

.habitaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    }
    
    .habitacion_general { grid-area: 1 / 1 / 3 / 2; 
    background-image: url(../img/habitacion.webp);
    width: 500px;
    background-position: center;
    background-size: cover;
    
    }
    .habitacion1 { grid-area: 1 / 2 / 2 / 3; 
    background-image: url(../img/habitacion1.webp);
    background-position: center;
    background-size: cover;
}
.habitacion1 p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    text-transform: uppercase;
    height: 290px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;

}
    .habitacion2 { grid-area: 1 / 3 / 2 / 4; 
    
    background-image:  url(../img/habitacion2.webp); 
    background-position: center;
    background-size: cover;
}

.habitacion2 p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    text-transform: uppercase;
    height: 290px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;

}
    .habitacion3 { grid-area: 2 / 2 / 3 / 3;
    background-image: url(../img/habitacion3.jpg);
    background-position: center;
    background-size: cover;
}

.habitacion3 p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    text-transform: uppercase;
    height: 290px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;

}
    .habitacion4 { grid-area: 2 / 3 / 3 / 4; 
    background-image: url(../img/habitacion4.jpg);
    background-position: center;
    background-size: cover;
}

.habitacion4 p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    text-transform: uppercase;
    height: 290px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;

}

/* contacto */

.main_contacto{
    padding-bottom: 20px;
}

.formulario h3{
    text-align: center;
    margin: 20px;
}

.contact_form{  
  width: 700px; 
  height: auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
  display: flex;
  justify-content: center;
  margin: auto;
  
}


input{
  background-color: #fbfbfb; 
  width: 95%; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #4343a4; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 95%; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #4343a4; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #4343a4; 
  border-color: #4343a4; 
  border-style: solid; 
  border-radius: 10px;  
  width: 95%;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #4343a4; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}





















@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: flex;
    }
    nav{
        padding: 0 30px;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        //background: #000090;
        //color: red;
    }
    #check:checked ~ ul{
        left:0;
    }


    .direccion iframe{
        width: 300px;
        height: 300px;
        margin-left: 0;
    }
}