@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
 *{
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

/* NAV */
 nav{
     background: rgb(166, 239, 214);
     height: 80px;
     width: 100%;
     padding: 0 50px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 .enlace{
     color: white;
     font-size: 25px;
     text-transform: uppercase;
}
 .enlace span{
     color: #4343a4;
}
 nav ul{
     display: flex;
     justify-content: center;
}
 nav ul li{
     margin: 0 5px;
}
 nav ul li a{
     color: #fff;
     font-size: 18px;
     padding: 7px 13px;
     border-radius: 3px;
     text-transform: uppercase;
}
 li a.active, li a:hover{
     background: #4343a4;
     transition: .5s;
}
 .checkbtn{
     font-size: 30px;
     color: #fff;
     cursor: pointer;
     display: none;
}
 #check{
     display: none;
}
 img{
     width: 400px;
}
 .fondo{
     background-image: url(../img/Hyatt-House.webp);
     width: 100%;
     height: 100vh;
     background-position: center;
     background-size: cover;
}
 main{
     background-color: rgb(166, 239, 214);
}
 .titulo_principal{
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 50px;
     font-size: 32px;
     font-family: "Sense","Century Gothic",sans-serif;
     color: #0097DB;
     line-height: 1.3;
}
 .historia{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}
 .historia p{
     padding: 20px;
     width: 500px;
     height: 340px;
     line-height: 2;
     display: flex;
     align-items: center;
     background-color: #266782;
     font-family: "Open Sans","Arial",sans-serif;
     color: white;
     text-align: center;
}
 .historia img{
     width: 500px;
     margin: 30px;
}
 .segundaImagen{
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
     align-items: center;
}
 .segundaImagen div{
     padding: 20px;
     width: 500px;
     height: 340px;
     line-height: 2;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #266782;
     font-family: "Open Sans","Arial",sans-serif;
     color: white;
     text-align: center;
     margin-left: 60px;
     flex-wrap: wrap;
}
 .segundaImagen img{
     width: 500px;
     margin: 30px;
     height: 340px;
} 




 footer{
     background-color: #2c3e50;
     color: white;
     display: flex;
     gap: 20px;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
}
 .logo{
     color: white;
     font-size: 25px;
     text-transform: uppercase;
     margin: 30px;
}
 .logo span{
     color: #4343a4;
}
 .links{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     justify-content: center;
     width:300px;
}
 .enlaces{
     color: white;
     line-height: 2;
     text-transform: uppercase;
}
 .direccion{
     width: 200px;
     width:300px;
}
 .direccion iframe{
     width: 300px;
     height: 300px;
     margin: 30px;
}
 .contactanos{
     margin: 30px;
     width: 300px;
     text-align: center;
     line-height: 2;
}
 .contactanos h3{
     color: #4343a4;
     margin: 30px;
     text-transform: uppercase;
}
 .fa-solid{
     color:#4343a4;
}
 .titulo_recepcion{
     text-align: center;
     color: #0097DB;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 40px;
     font-family: 'Gilda Display', sans-serif;
     font-style: italic;
}
 .recepcion{
     text-align: center;
     color: #0097DB;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 30px;
}
 .recepcion1{
     width: 300px;
     height: 300px;
     background-image: url(../img/recepcion1.jpg);
     background-position: center;
     background-size: cover;
}
 .recepcion2{
     width: 300px;
     height: 300px;
     background-image: url(../img/recepcion2.jpg);
     background-position: center;
     background-size: cover;
}
 .recepcion3{
     width: 300px;
     height: 300px;
     background-image: url(../img/recepcion3.webp);
     background-position: center;
     background-size: cover;
}
 .recepcion1:hover, .recepcion2:hover, .recepcion3:hover{
     transform: scale(1.05);
     transition: 1s;
}
 .titulo_restaurant{
     text-align: center;
     color: #0097DB;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     margin: 40px;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 40px;
     font-family: 'Gilda Display', sans-serif;
     font-style: italic;
}
 .restaurant{
     text-align: center;
     font-size: 32px;
     font-family: "Sense","Century Gothic",sans-serif;
     color: #0097DB;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 30px;
     padding-bottom: 40px;
}
 .restaurant1{
     width: 300px;
     height: 300px;
     background-image: url(../img/restaurant1.webp);
     background-position: center;
     background-size: cover;
}
 .restaurant2{
     width: 300px;
     height: 300px;
     background-image: url(../img/restaurant2.jpg);
     background-position: center;
     background-size: cover;
}
 .restaurant3{
     width: 300px;
     height: 300px;
     background-image: url(../img/restaurant3.webp);
     background-position: center;
     background-size: cover;
}
 .restaurant1:hover, .restaurant2:hover, .restaurant3:hover{
     transform: scale(1.05);
     transition: 1s;
}
 .titulo_restaurant{
     text-align: center;
     color: #0097DB;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     margin: 40px;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 40px;
     font-family: 'Gilda Display', sans-serif;
     font-style: italic;
}
 .amenities{
     text-align: center;
     font-size: 32px;
     font-family: "Sense","Century Gothic",sans-serif;
     color: #0097DB;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 30px;
     padding-bottom: 40px;
}
 .amenities1{
     width: 300px;
     height: 300px;
     background-image: url(../img/amenities1.webp);
     background-position: center;
     background-size: cover;
}
 .amenities2{
     width: 300px;
     height: 300px;
     background-image: url(../img/amenities2.jpg);
     background-position: center;
     background-size: cover;
}
 .amenities3{
     width: 300px;
     height: 300px;
     background-image: url(../img/amenities3.webp);
     background-position: center;
     background-size: cover;
}
 .amenities1:hover, .amenities2:hover, .amenities3:hover{
     transform: scale(1.05);
     transition: 1s;
}
/* habitaciones */
 .habitaciones {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     gap: 20px;
     padding: 40px;
}
 .habitacion_general {
     grid-area: 1 / 1 / 3 / 2;
     background-image: url(../img/habitacion.webp);
     width: 500px;
     background-position: center;
     background-size: cover;
}
 .habitacion1 {
     grid-area: 1 / 2 / 2 / 3;
     background-image: url(../img/habitacion1.webp);
     background-position: center;
     background-size: cover;
}
 .habitacion1 p{
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     color: white;
     text-transform: uppercase;
     height: 290px;
     margin: 10px;
     font-size: 20px;
     font-weight: bold;
}
 .habitacion2 {
     grid-area: 1 / 3 / 2 / 4;
     background-image: url(../img/habitacion2.webp);
     background-position: center;
     background-size: cover;
}
 .habitacion2 p{
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     color: white;
     text-transform: uppercase;
     height: 290px;
     margin: 10px;
     font-size: 20px;
     font-weight: bold;
}
 .habitacion3 {
     grid-area: 2 / 2 / 3 / 3;
     background-image: url(../img/habitacion3.jpg);
     background-position: center;
     background-size: cover;
}
 .habitacion3 p{
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     color: white;
     text-transform: uppercase;
     height: 290px;
     margin: 10px;
     font-size: 20px;
     font-weight: bold;
}
 .habitacion4 {
     grid-area: 2 / 3 / 3 / 4;
     background-image: url(../img/habitacion4.jpg);
     background-position: center;
     background-size: cover;
}
 .habitacion4 p{
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     color: white;
     text-transform: uppercase;
     height: 290px;
     margin: 10px;
     font-size: 20px;
     font-weight: bold;
}
/* contacto */
 .main_contacto{
     padding-bottom: 20px;
}
 .formulario h3{
     text-align: center;
     margin: 20px;
}
 .contact_form{
     width: 700px;
     height: auto;
     border-radius: 10px;
     padding-top: 30px;
     padding-bottom: 20px;
     background-color: #fbfbfb;
     padding-left: 30px;
     display: flex;
     justify-content: center;
     margin: auto;
}
 input{
     background-color: #fbfbfb;
     width: 95%;
     height: 40px;
     border-radius: 5px;
     border-style: solid;
     border-width: 1px;
     border-color: #4343a4;
     margin-top: 10px;
     padding-left: 10px;
     margin-bottom: 20px;
}
 textarea{
     background-color: #fbfbfb;
     width: 95%;
     height: 150px;
     border-radius: 5px;
     border-style: solid;
     border-width: 1px;
     border-color: #4343a4;
     margin-top: 10px;
     padding-left: 10px;
     margin-bottom: 20px;
     padding-top: 15px;
}
 label{
     display: block;
     float: center;
}
 button{
     height: 45px;
     padding-left: 5px;
     padding-right: 5px;
     margin-bottom: 20px;
     margin-top: 10px;
     text-transform: uppercase;
     background-color: #4343a4;
     border-color: #4343a4;
     border-style: solid;
     border-radius: 10px;
     width: 95%;
     cursor: pointer;
}
 button p{
     color: #fff;
}
 span{
     color: #4343a4;
}
 .aviso{
     font-size: 13px;
     color: #0e0e0e;
}
 

@media only screen and (min-width: 1024px){
    /* INDEX */
    .historia p, .historia img, .segundaImagen div, .segundaImagen img{
        width: 600px;
        height: 400px;
   }

   /* HOTEL */
    
   .recepcion1, .recepcion2, .recepcion3, .restaurant1, .restaurant2,.restaurant3, .amenities1,.amenities2,.amenities3  {
    width: 500px;
    height: 500px;
    
}

/* HABITACIONES */

.habitacion_general {
    width: 800px;
}

/* CONTACTO */

.contact_form{
    width: 900px;
    height: auto;
    margin: auto;
    padding: 15px;
}

@media only screen and (max-width: 768px){
 /* NAVBAR   */
 .checkbtn{
    display: flex;
}
nav{
    padding: 0 30px;
}
ul{
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    flex-direction: column;
    z-index: 10;
}
nav ul li{
    margin: 20px 0;
}
nav ul li a{
    font-size: 20px;
}
#check:checked ~ ul{
    left:0;
}


/* FOOTER */

.contact_form{
    width: 300px;
    height: auto;
    margin: auto;
    padding: 15px;
}
label{
    display: block;
    float: center;
}

.direccion{
   width: 250px;
   height: 300px;
}
.direccion iframe{
   width: 250px;
   height: 300px;
   margin-left: 0;
   padding: 0;
}

/* INDEX */
.inicio_index{
    padding-bottom: 30px;
}
.segundaImagen{
    flex-wrap: wrap;
}
.segundaImagen div{
    padding: 20px;
    margin: 0;
}

/* HOTEL */

.recepcion1, .recepcion2, .recepcion3, .restaurant1, .restaurant2,.restaurant3, .amenities1,.amenities2,.amenities3  {
    width: 450px;
    
}


/* HABITACIONES */

.habitaciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: ;
    }
    
    .habitacion_general {
        grid-area: 1 / 1 / 2 / 3;
        width: 700px;
    }
    .habitacion1 { grid-area: 2 / 1 / 3 / 2; }
    .habitacion2 { grid-area: 2 / 2 / 3 / 3; }
    .habitacion3 { grid-area: 3 / 1 / 4 / 2; }
    .habitacion4 { grid-area: 3 / 2 / 4 / 3; }


/* CONTACTO */

.contact_form{
    margin-right: 0;
    width: 600px;
    margin: auto;
    padding-bottom: 30px;
}






}


@media only screen and (max-width: 500px){

    /* MAIN INDEX */
    .historia{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
   }
    .historia p{
        padding: 20px;
        width: 300px;
        height: 340px;
        line-height: 2;
        display: flex;
        align-items: center;
        background-color: #266782;
        font-family: "Open Sans","Arial",sans-serif;
        color: white;
        text-align: center;
        margin-bottom: 20px;
   }
    .historia img{
        width: 300px;
        margin: 0;
   }
    .segundaImagen{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
   }
    .segundaImagen div{
        width: 300px;
        height: 360px;
        line-height: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
   }
    .segundaImagen img{
        width: 300px;
        height: 340px;
        margin: 0;
   }

   .inicio_index{
    padding-bottom: 40px;
}


/* HOTEL */

.recepcion1, .recepcion2, .recepcion3, .restaurant1, .restaurant2,.restaurant3, .amenities1,.amenities2,.amenities3  {
    width: 310px;
    
}

/* HABITACIONES */
.habitaciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 30px;
    padding: 0;
}
.habitacion_general {
    grid-area: 1 / 1 / 2 / 2;
    width: 300px;
    justify-self: center;
}
.habitacion1 {
    grid-area: 2 / 1 / 3 / 2;
    width: 300px;
    margin: auto;
}
.habitacion2 {
    grid-area: 3 / 1 / 4 / 2;
    width: 300px;
    margin: auto;
}
.habitacion3 {
    grid-area: 4 / 1 / 5 / 2;
    width: 300px;
    margin: auto;
}
.habitacion4 {
    grid-area: 5 / 1 / 6 / 2;
    width: 300px;
    margin: auto;
}

/* CONTACTO */
.contact_form{
    margin-right: 0;
    width: 300px;
    margin: auto;
    padding-bottom: 30px;
}





}



